### BASIC LEVEL

In [1]:
#1.number 1 to 10
numbers = 10

for num in range(1, numbers + 1):
    print(num, end=' ')

1 2 3 4 5 6 7 8 9 10

In [2]:
#2.sum of all numbers 
sum = 0
for x in [1,2,3,4,5]:
      sum = sum + x

print(sum)

15

In [4]:
#3.reverse order
string = 'princess vishukutty'

# find reverse of string
reverse = ''
for i in range(len(string), 0, -1):
   reverse += string[i-1]

print('The reverse string is', reverse)

The reverse string is yttukuhsiv ssecnirp

In [5]:
#4. Python program to find the factorial of a number provided by the user.
num = 7

factorial = 1

if num < 0:
   print("Sorry, factorial does not exist for negative numbers")
elif num == 0:
   print("The factorial of 0 is 1")
else:
   for i in range(1,num + 1):
       factorial = factorial*i
   print("The factorial of",num,"is",factorial)

The factorial of 7 is 5040

In [6]:
#5.creating multiplication table

num = 12
for i in range(1, 11):
   print(num, 'x', i, '=', num*i)

12 x 1 = 12
12 x 2 = 24
12 x 3 = 36
12 x 4 = 48
12 x 5 = 60
12 x 6 = 72
12 x 7 = 84
12 x 8 = 96
12 x 9 = 108
12 x 10 = 120

In [7]:
#6. Python program to count Even
# and Odd numbers in a List
list1 = [10, 21, 4, 45, 66, 93, 1]
 
even_count, odd_count = 0, 0
 
for num in list1:
 
    # checking condition
    if num % 2 == 0:
        even_count += 1
 
    else:
        odd_count += 1
 
print("Even numbers in the list: ", even_count)
print("Odd numbers in the list: ", odd_count)

Even numbers in the list:  3
Odd numbers in the list:  4

In [12]:
#7.square numbers
n = int(input())
for i in range(n):
    print("%s² = %s"%(i,i**2))

 6

0² = 0
1² = 1
2² = 4
3² = 9
4² = 16
5² = 25

In [13]:
#8.length of str
str = input("Enter a string: ")
counter = 0
for s in str:
      counter = counter+1
print("Length of the input string is:", counter)

Enter a string:  (lioness female)

Length of the input string is: 16

In [16]:
#9.average 
numbers = [1, 2, 34, 56, 7, 23, 23, 12, 1, 2, 3, 34, 56]
sumOfNums = 0
count = 0
for number in numbers:
    sumOfNums += number
    count += 1
average = sumOfNums / count
print("The list of numbers is:", numbers)
print("The average of all the numbers is:", average)

The list of numbers is: [1, 2, 34, 56, 7, 23, 23, 12, 1, 2, 3, 34, 56]
The average of all the numbers is: 19.53846153846154

In [22]:
#10.fibonacci number
N = int(input("Number of elements in Fibonacci Series, N, (N>=2) : "))

#initialize the list with starting elements: 0, 1
fibonacciSeries = [0,1]

if N>2:
	for i in range(2, N):
		#next elment in series = sum of its previous two numbers
		nextElement = fibonacciSeries[i-1] + fibonacciSeries[i-2]
		#append the element to the series
		fibonacciSeries.append(nextElement)

print(fibonacciSeries)

Number of elements in Fibonacci Series, N, (N>=2) :  10

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

# intermediate level

In [9]:
#11.remove duplicates
users = ['AmyP', 'ollie3', 'shoeguy', 'kyliek', 'ollie3',
         'stewieboy', 'csealker', 'shoeguy', 'cdriver', 'kyliek']
         
tmp  = set()
dups = set(x for x in users if (x in tmp or tmp.add(x)))
print(list(dups))

['shoeguy', 'ollie3', 'kyliek']

In [12]:
#12. Python3 program to display Prime numbers till N
N = 100;

for i in range(1,N+1):
  
  if(isPrime(i)):
    print(i,end=" ")

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

In [31]:
#13.vowels
import collections
vowel = ['a', 'e', 'i', 'o', 'u']
count = 0

sentence = input('Enter a string:').lower()
counter = collections.Counter(sentence)
for word in counter:
    if word in vowel:
        count += counter[word]

print('There are {} vowels in the string: \'{}\''.format(count,sentence))

Enter a string: spread love everywhere you go

There are 11 vowels in the string: 'spread love everywhere you go'

In [32]:
#14.max element in 2d
l = [2,4,6,[5,10,3]]


def flatten(seq):
  for el in seq:
    if isinstance(el, list):
      yield from flatten(el)
    else:
      yield el

print(max(flatten(l)))

10

In [33]:
#15.remove all occurence of specific element
x = [1, 2, 3, 4, 2, 2, 3]
def remove_values_from_list(the_list, val):
    for i in range(the_list.count(val)):
        the_list.remove(val)

remove_values_from_list(x, 2)

print(x)

[1, 3, 4, 3]

In [39]:
#16.multiplication table
def mathTable(column, tuple):
    for column in range(1, 6):
        for tuple in range(1, 6):
            print("%6d" % (column * tuple), end = '')
    print("")

x = int(input("Enter the value of the multiplication table: "))
column = ""
tuple = ''
print(mathTable(column, tuple))

Enter the value of the multiplication table:  2

     1     2     3     4     5     2     4     6     8    10     3     6     9    12    15     4     8    12    16    20     5    10    15    20    25
None

In [40]:
#17.convert fah to celsius
fah = [89.8, 67.0, 92, 99]

cen = []
for f in fah:
    c = (f - 32) * 5 / 9
    cen.append(c)

print(cen)

[32.111111111111114, 19.444444444444443, 33.333333333333336, 37.22222222222222]

In [1]:
#18.common element
from collections import Counter
L1,L2 = [3,7,4,2,4,3,1],[4,5,2,2,4,3]
c = list((Counter(L1) & Counter(L2)).elements())
print(c) # [3, 4, 4, 2]

[3, 4, 4, 2]

In [2]:
#18.common element
def common_member(a, b):
    result = [i for i in a if i in b]
    return result
 
a = [1, 2, 3, 4, 5]
b = [5, 6, 7, 8, 9]
 
print("The common elements in the two lists are: ")
print(common_member(a, b))

The common elements in the two lists are:
[5]

In [1]:
#19.right angled triangle
for i in range(1,8):
    stars=""
    for star in range(1,i+1):
        stars+= " x"
    print(stars)

 x
 x x
 x x x
 x x x x
 x x x x x
 x x x x x x
 x x x x x x x

In [4]:
#20.gcd
 
a = 16  
b = 6  

for i in range(1, a + b):
    if i % a == 0 and i % b == 0:
        best = i
        
print(best)

0

# ADVANCED LEVEL

In [9]:
#21.sum of number of list
numlist = [12,34,56,78,90]
out = []
res = [t := t+int(y) for x in numlist for y in str(x)]
print(res)

[10, 12, 15, 19, 24, 30, 37, 45, 54, 54]

In [12]:
#22.prime factors
 
 
Number = int(input(" Please Enter any Number: "))

for i in range(2, Number + 1):
    if(Number % i == 0):
        isprime = 1
        for j in range(2, (i //2 + 1)):
            if(i % j == 0):
                isprime = 0
                break
            
        if (isprime == 1):
            print(" %d is a Prime Factor of a Given Number %d" %(i, Number))

 Please Enter any Number:  235

 5 is a Prime Factor of a Given Number 235
 47 is a Prime Factor of a Given Number 235

In [14]:
#23.extract unique element and stores the element in new list
com_list = []
a1 = [1,2,3,4,5]
b1 = [6,4,2,1]
come_list = [a for a in a1 for b in b1 if a != b ]
print(come_list)

[1, 1, 1, 2, 2, 2, 3, 3, 3, 3, 4, 4, 4, 5, 5, 5, 5]

In [15]:
#24.palindrome
def is_palindrome(num):
    return str(num) == str(num)[::-1]
 
def palindrome_range(start, end):
    nums = list(range(start, end+1))
    palindromes = list(filter(lambda x: is_palindrome(x), nums))
    return palindromes
 
start=100
end=2000
print(palindrome_range(start, end))

[101, 111, 121, 131, 141, 151, 161, 171, 181, 191, 202, 212, 222, 232, 242, 252, 262, 272, 282, 292, 303, 313, 323, 333, 343, 353, 363, 373, 383, 393, 404, 414, 424, 434, 444, 454, 464, 474, 484, 494, 505, 515, 525, 535, 545, 555, 565, 575, 585, 595, 606, 616, 626, 636, 646, 656, 666, 676, 686, 696, 707, 717, 727, 737, 747, 757, 767, 777, 787, 797, 808, 818, 828, 838, 848, 858, 868, 878, 888, 898, 909, 919, 929, 939, 949, 959, 969, 979, 989, 999, 1001, 1111, 1221, 1331, 1441, 1551, 1661, 1771, 1881, 1991]

In [16]:
#25.flateen a nested list
given_list = [1, 2, [3], [4, [5, 6,[7,[8]]]]]
final_list = []

def flattenList(given_list):    
    for x in given_list:
        if isinstance(x,list):
            flattenList(x)
        else:
            final_list.append(x)

flattenList(given_list)
print(final_list)

[1, 2, 3, 4, 5, 6, 7, 8]

In [17]:
#26.sum of even odd list
number_list = [1, 2, 3, 4, 5, 6]

def calculate_odd_even():
    odd_number = 0
    even_number = 0
    for i in number_list:
        if i % 2 == 0:
            even_number = even_number + i
        else:
            odd_number = odd_number + i
    
    return (odd_number, even_number)

my_tuple = calculate_odd_even()
print(my_tuple) # prints

(9, 12)

In [18]:
#27.list of square of odd
data=[11,23,13,3,1,3,4]
result = [i*i for i in data if i%2!=0]
print(result)

[121, 529, 169, 9, 1, 9]

In [19]:
#28.combine list to dict
keys_list = ['gowy', 'lexi', 'vishaka']
values_list = [19, 12, 22]
 
combined_list = zip(keys_list, values_list)
combined_dict = dict(combined_list)
 
print(combined_dict)

{'gowy': 19, 'lexi': 12, 'vishaka': 22}

In [22]:
#29.extract vowels
test_list = ["be", "a", "bold", "educated", "women", "by", "yourself"]
 
print("The original list is : " + str(test_list))
 
res = []
vow = "aeiou"
for sub in test_list:
    flag = False
     
    
    for ele in vow:
        if sub.startswith(ele):
            flag = True
            break
    if flag:
        res.append(sub)
 
print("The extracted words : " + str(res))

The original list is : ['be', 'a', 'bold', 'educated', 'women', 'by', 'yourself']
The extracted words : ['a', 'educated']

In [23]:
#30.remove non numeric characters
import re
invalid = re.compile('[^0-9]')    
ls = ['1a', 'b3', '1']
cleaned = [i for i in ls if not invalid.search(i)]
print (cleaned)

['1']

# CHALLENGE LEVEL

In [26]:
#31.primnumbers using sieve of eratosthenes
Primes = [0] * 500001
def SieveOfEratosthenes(n) :
      
    Primes[0] = 1
    i = 3
    while(i*i <= n) : 
        if (Primes[i // 2] == 0) :
            for j in range(3 * i, n+1, 2 * i) : 
                Primes[j // 2] = 1
                  
        i += 2
if __name__ == "__main__":
  
    n = 100
    SieveOfEratosthenes(n)
    for i in range(1, n+1) :
        if (i == 2) :
            print( i, end = " ")
        elif (i % 2 == 1 and Primes[i // 2] == 0) :
            print( i, end = " ")

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

In [31]:
#32.pythagorean triplet
if __name__ == '__main__' :
     
    limit = 20
    pythagoreanTriplets(limit)

3 4 5
8 6 10
5 12 13
15 8 17
12 16 20

In [32]:
#33.all possible combination of two list
import itertools

stuff = [1, 2, 3]
for L in range(len(stuff) + 1):
    for subset in itertools.combinations(stuff, L):
        print(subset)

()
(1,)
(2,)
(3,)
(1, 2)
(1, 3)
(2, 3)
(1, 2, 3)

In [4]:
# 34. calculate mean,median,mode
n_num = [1, 2, 3, 4, 5]
n = len(n_num)
 
get_sum = sum(n_num)
mean = get_sum / n
 
print("Mean / Average is: " + str(mean))


# median of elements
n_num = [1, 2, 3, 4, 5]
n = len(n_num)
n_num.sort()
 
if n % 2 == 0:
    median1 = n_num[n//2]
    median2 = n_num[n//2 - 1]
    median = (median1 + median2)/2
else:
    median = n_num[n//2]
print("Median is: " + str(median))



# mode of elements
from collections import Counter
n_num = [1, 2, 3, 4, 5, 5]
n = len(n_num)
 
data = Counter(n_num)
get_mode = dict(data)
mode = [k for k, v in get_mode.items() if v == max(list(data.values()))]
 
if len(mode) == n:
    get_mode = "No mode found"
else:
    get_mode = "Mode is / are: " + ', '.join(map(str, mode))
     
print(get_mode)

Mean / Average is: 3.0
Median is: 3
Mode is / are: 5

In [10]:

# 35.Print Pascal's Triangle in Python
from math import factorial
 
n = 5
for i in range(n):
    for j in range(n-i+1):
 
        print(end=" ")
 
    for j in range(i+1):
 
        print(factorial(i)//(factorial(j)*factorial(i-j)), end=" ")

    print()

      1
     1 1
    1 2 1
   1 3 3 1
  1 4 6 4 1

In [9]:
#36.factorial number
def sum_of_digits_factorial(n):
    fact = 1
    for i in range(2, n+1):
        fact *= i
    sum_of_digits = 0
    for digit in str(fact):
        sum_of_digits += int(digit)
    return sum_of_digits
print(sum_of_digits_factorial(10))
print(sum_of_digits_factorial(100))

27
648

In [13]:
#37.longest word in sentence
import re
 
def longest_word(sentence):
    words = re.findall(r'\b\w+\b', sentence) 
    return max(words, key=len) 
 
sentence = "be confident and be yourself"
print(longest_word(sentence))

confident

In [14]:
#38 Python3 program to Filter list of
# strings based on another list
import re
 
def Filter(string, substr):
    return [str for str in string if
             any(sub in str for sub in substr)]
     
# Driver code
string = ['city1', 'class5', 'room2', 'city2']
substr = ['class', 'city']
print(Filter(string, substr))

['city1', 'class5', 'city2']

In [18]:
#39.sum of digits 
number = int(input("Number: "))
sum = 0
for i in range(1, number + 1):
    sum += i
print(sum)

Number:  1000

500500

In [19]:
#40.prime palindromic numnber
min = 10

max = 100

primes = [num for num in range(min,max) if 0 not in [num%i for i in range(2,num//2)]]

print (primes)

[11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

#               THANK YOU